<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<a href="/create">Add new blog</a>
<h2>Blog</h2>
<form>
    Search
    <input type="text" name="textSearch"/>
    <input type="submit" value="Search">
</form>
<br>
<div id="form">
    <form th:action="@{/}" method="post"></form>
    <table id="customers">
        <tr>
            <th>Id</th>
            <th>Detail</th>
            <th>view</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="blogs: ${blog}">
            <td th:text="${blogs.id}"></td>
            <td th:text="${blogs.text}"></td>
            <td><a th:href="@{/view/__${blogs.id}__}">View</a></td>
            <td><a th:href="@{/edit/__${blogs.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete/__${blogs.id}__ }">Delete</a></td>
        </tr>
    </table>
    <div>
        <a th:href="@{'/'(page=${blog.number - 1})}" th:if="${blog.hasPrevious()}">Previous</a>
        <span th:text="${blog.number + 1}"></span>/<span th:text="${blog.totalPages}"></span>
        <a th:href="@{'/'(page=${blog.number + 1})}" th:if="${blog.hasNext()}">Next</a>
    </div>
</div>
<footer th:replace="/layout::footer"></footer>

</body>
</html>