<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">

</head>
<body>
<p>
<!--    <a th:href="@{/product/create}">-->
<!--        Add new product-->
<!--    </a>-->
    <a th:href="@{/}">
        Back to product list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/product/save}" th:object="${product}"
          method="post" >
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name_product}" required/>
        </div>
        <div>
            <label>Cost</label>
            <input type="text" th:field="*{cost}" required/>
        </div>

        <input type="submit" value="Save"/>

    </form>
</div>
<footer th:replace></footer>
</body>
</html>