<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<p>
    <a href="/">Blog list</a>
</p>
<form th:action="@{/view}" th:object="${blog}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td> Id:</td>
            <td th:text="${blog.id}"></td>
        </tr>
        <tr>
            <td> Detail:</td>
            <td th:text="${blog.text}"></td>
        </tr>
        <tr>
            <td>Time:</td>
            <td th:text="${blog.date}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete blog"></td>
        </tr>
    </table>
</form>
<footer th:replace="/layout::footer"></footer>

</body>
</html>